<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Викладачі</title>
    <link href="../static/css/bankTitle.css" rel="stylesheet">

</head>
<body>

<section class="section__bankTitlelist"></section>

<h2 class="section__bankTitlelist-headline">Банк тем дипломних робіт</h2>
   <ul class="bankTitlelist">

    <li class="bankTitlelist_list"><a href="#" class="bankTitlelist_title">тема 1</a></li>
    <li class="bankTitlelist_list"><a href="#" class="bankTitlelist_title">Элемент списка</a></li>
    <li class="bankTitlelist_list"><a href="#" class="bankTitlelist_title">Элемент списка</a></li>
    <li class="bankTitlelist_list"><a href="#" class="bankTitlelist_title">Элемент списка</a></li>
    <li class="bankTitlelist_list"><a href="#" class="bankTitlelist_title">Элемент списка</a></li>
    <li class="bankTitlelist_list"><a href="#" class="bankTitlelist_title">Элемент списка</a></li>
    <li class="bankTitlelist_list"><a href="#" class="bankTitlelist_title">Элемент списка</a></li>
    <li class="bankTitlelist_list"><a href="#" class="bankTitlelist_title">Элемент списка</a></li>
    <li class="bankTitlelist_list"><a href="#" class="bankTitlelist_title">Элемент списка</a></li>
    <li class="bankTitlelist_list"><a href="#" class="bankTitlelist_title">Элемент списка</a></li>


</ul>
</section>
</body>
</html>